---
import FullLayout from '../layouts/FullLayout.astro';
import '../styles/main.css';

const pageNotFoundStr = ' Page not found';
const number404Str = '404';

const backHomeStr = 'Go back Home';
const tryAgainMessage =
  'Please check the URL in the address bar and try again.';
---

<FullLayout
  headTitle={pageNotFoundStr}
  headDescription={`Error ${number404Str}`}
>
  <div
    class="bg-page-404 bg-cover bg-no-repeat bg-center min-h-full px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8"
  >
    <div class="max-w-max mx-auto">
      <main class="flex flex-col sm:flex-row justify-center items-center">
        <div class="sm:ml-6 flex flex-col justify-center items-center">
          <p
            set:text={number404Str}
            class="text-4xl font-extrabold text-white sm:hidden mb-4"
          >
          </p>

          <div
            class="md:bg-greyDarker md:bg-opacity-70 sm:pl-6 md:p-10 md:rounded"
          >
            <h1
              set:text={pageNotFoundStr}
              class="text-4xl font-extrabold text-white tracking-tight sm:text-5xl text-center sm:text-left"
            >
              <span set:text={number404Str} class="hidden sm:inline sm:mr-5"
              ></span>
            </h1>
            <div
              class="bg-greyDarker bg-opacity-70 rounded md:bg-opacity-0 text-center"
            >
              <p
                set:text={tryAgainMessage}
                class="mt-4 text-base text-white p-4"
              >
              </p>
            </div>
          </div>
          <div class="mt-6">
            <a
              set:text={backHomeStr}
              href="/"
              class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-greyDarker bg-opacity-90 hover:bg-opacity-100 hover:text-whiter"
            >
            </a>
          </div>
        </div>
      </main>
    </div>
  </div>
</FullLayout>
